body {
    font-family: Arial;
    }

#loaderDiv-id {
  display: inline-block;
  font-size: .75em;
  padding: 5px 10px 5px 5px;
  line-height: .75em;
}

#loaderDivSpinner-id {
  display: inline-block;
  height: 1em;
  width: 1em;
  border: 2px solid;
  border-radius: 50%;
  border-color: transparent transparent #999 #999;
  box-sizing: border-box;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.button-cl {
    cursor: default;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
    }
.resetbutton-cl {
    display: inline-block;
    padding: 5px 10px 5px 5px;
    margin-left: 5px;
    margin-right: 15px;
    }
.resetbutton-cl:hover {
    background-color: #e6e6e6;
    border-radius: 2px;
    }
.resetsymbol-cl {
    display: inline-block;
    font-family: 'Lucida Sans Unicode';
    font-weight: bold;
    font-size: 90%;
    line-height: .5;
    }
#addleftcontextbutton-id {
    margin-right: -5px;
    }
.xsymbol-cl {
    display: inline-block;
    font-family: 'Lucida Sans Unicode';
    font-weight: bold;
    font-size: 80%;
    line-height: .5;
    margin-left: 2px;
    }
.resetlabel-cl {
     font-size: .7em;
     text-transform: uppercase;
     }
.deactivatedbutton-cl {
    color: #aaaaaa;
    }
.deactivatedbutton-cl:hover {
    background-color: transparent;
    }
.invisiblebutton-cl {
    visibility: hidden;
    }


#msgdiv-id {
    display: inline-block;
    font-size: .75em;
    padding: 5px 8px;
    border-radius: 2px;
    border: 1px solid transparent;
    }

.dropdown-check-wrapper {
    display: inline-block;
    padding: 5px 50px 5px 0px;
    width: 300px;
    box-sizing: border-box;
    margin-left: -5px;
    }
#tier_dropdown {
    z-index: 20;
    }
.dropdown-check-list {
    display: inline-block;
    position: absolute;
    padding-left: 15px;
    }
.dropdown-check-list .anchor-cl {
    position: relative;
    cursor: pointer;
    display: inline-block;
    padding: 10px;
    width: 300px;
    border: 1px solid;
    border-color: lightgrey #aaa #aaa lightgrey;
    box-sizing: border-box;
    margin-top: -10px;
    margin-left: -15px;
    background-color: whitesmoke;
    }
.dropdown-check-list ul.items-cl {
    padding: 2px;
    display: none;
    position: relative;
    margin: 0;
    border: 1px solid #ccc;
    border-color: lightgrey #aaa #aaa lightgrey;
    background-color: white;
    margin-left: -15px;
    margin-top: -1px;
    height: 250px;
    overflow: scroll;
    }
.dropdown-check-list ul.items-cl li {
    list-style: none;
    }
.dropdown-check-list.visible .items-cl {
    display: block;
    }


#wavescroll-id {
    margin-top: 30px;
    padding-top: 20px;
    background-color: whitesmoke;
    border: 1px solid lightgray;
    max-width: 90%;
    box-sizing: border-box;
    }

#testLabels-id {
    display: inline-block;
    width: 100px;
    vertical-align: top;
    }

#testLinjescroll-id {
    display: inline-block;
    max-width: calc(100% - 120px);
    vertical-align: top;
    }


.tier-cl {
    display: none;
    font-weight: bold;
    height: 1.1em;
    border-top: 1px solid lightgray;
    }
.tier-cl.ortografi {
    display: table-row;
    height: 1.6em;
    }
.lag_interval-cl {
    background-color: #fbfbfb;
    }
.interval-cl {
    font-size: .5em;
    font-family: Arial Narrow;
    color: #555555;
    display: table-cell;
    white-space: nowrap;
    vertical-align: middle;
    }
.inner_intv-cl {
    display: inline-block;
    overflow: hidden;
    vertical-align: top;
    }
.inner_inner-cl {
    padding-left: 3px;
    height: 100%;
    border-left: 1px solid lightgray;
    display: inline-block;
}
.inner_inner_inner-cl {
    line-height: 19px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.ortografi .inner_inner_inner-cl {
    line-height: 25px;
}
.tier-cl.ortografi > .interval-cl {
    font-size: .85em;
    font-family: Arial;
    color: black;
    }
.linjewrapper-cl {
    padding: 5px 15px 5px 0px;
    margin-top: 40px;
    box-sizing: border-box;
    white-space: nowrap;
    }
.labels-cl {
    margin: 128px 5px 0px 5px; /* Set to waveform height minus hight of #playpausewrapper-id div */
    margin-top: 20px;
    }
#playpausewrapper-id {
    display: table;
    height: 108px;
    width: 100%;
    }
#playpausecentering-id {
    vertical-align: middle;
    display: table-cell;
    text-align: center;
    }
#playpausebtn-id {
    margin: 0px 8px;
    padding: 8px 0px;
    border-radius: 2px;
    background-color: #dfdfdf;
    font-size: 1.5em;
    }
#playpausebtn-id:hover {
    background-color: #cfcfcf;
    }
#playpausebtn-id:active {
    color: #666;
    background-color: #dfdfdf;
    }
.subsidiaryplaybtn-cl {
    margin: 4px 8px;
    padding: 5px 0px;
    font-size: .7em;
    }
#replaybtn-id {
    border-radius: 2px;
    }
#replaybtn-id:hover {
    background-color: #e6e6e6;
    }
.linjescroll-cl {
    width: calc(100% - 75px);
    display: inline-block;
    vertical-align: top;
    }
.interval-cl.label-cl {
    font-size: .75em;
    line-height: 19px;
    padding-left: 4px;
    padding-right: 4px;
    text-align: left;
    border-radius: 2px;
    cursor: default;
    }
.interval-cl.label-cl:hover {
    background-color: #ddd;
    }
.tier-x-cl {
    color: #ddd;
    float: right;
    margin-left: 2px;
    }
.highlight-x-cl {
    color: #666;
    cursor: default;
    }
.tier-cl.ortografi > .interval-cl.label-cl {
    font-size: .75em;
    padding: 0px;
    text-align: center;
    }
.tier-cl.ortografi > .interval-cl.label-cl:hover {
    background-color: transparent;
    }

.taler-cl, .talerlabels-cl {
    margin: 12px 0px 12px 0px;
    display: table;
    border-collapse: collapse;
    background-color: white;
    border: 1px solid lightgray;
    }
.talerlabels-cl {
    border: 1px solid transparent;
    background-color: transparent;
    margin: 12px auto 12px auto;
    width: 90%;
    }
.talerlabels-cl .interval-cl.label-cl {
    color: black;
    border: 1px solid transparent;
    }
.linje-cl {
    width: max-content;
    }
.label-cl .inner-cl {
    text-align: center;
    border: 2px solid grey;
    padding: 1px 4px;
    border-radius: 2px;
    margin: 1px auto;
    width: 2.5em;
    }

#zoomdiv-id {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    }

#zoomlabel-id {
    margin-right: 8px;
    }

#zoomslider-id {
    width: 20%;
    }

table.html_dataframe-cl {
  font-size: .75em;
  text-align: center;
  border-collapse: collapse;
  max-width: 90%;
}
table.html_dataframe-cl td, table.html_dataframe-cl th {
  border: 1px solid lightgrey;
  padding: 5px 8px;
}
table.html_dataframe-cl thead {
  text-align: left;
  background: #EEEEEE;
}
table.html_dataframe-cl thead th {
  font-weight: bold;
  text-align: left;
}
