<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Partitur</title>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="static/wavesurfer.js"></script>
    <script src="static/wavesurfer.spectrogram.js"></script>
    <script src="static/wavesurfer.regions.js"></script>
    <script src="static/partitur.ui.js"></script>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
<h1 class="heading Partitur">Partitur</h1>
<div class="dropdown-check-wrapper">&nbsp;
<div id="tier_dropdown" class="dropdown-check-list" tabindex="100">
    <span class="anchor-cl">Tiers …</span>
    {{ tier_selector_ul }}
</div>
</div>
<div id="tierresetbtn-id" class="button-cl resetbutton-cl">
   <span class="resetsymbol-cl">&#8635;</span>
   <span class="resetlabel-cl">Nulstil tiers</span>
</div>
<div id="loaderDiv-id"><div id="loaderDivSpinner-id" style="">&nbsp;</div> Henter lyd ...</div>
<div id="msgdiv-id"></div>

<div id="wavescroll-id" class="wavescroll-cl">
    <div id="testLabels-id">
        <div id="playpausewrapper-id">
            <div id="playpausecentering-id">
                <div class="subsidiaryplaybtn-cl">&nbsp;</div>
                <div id="playpausebtn-id" class="button-cl" data-action="play" title="Play/pause (space)">►<b>II</b></div>
                <div id="replaybtn-id" class="button-cl subsidiaryplaybtn-cl" data-action="replay" title="Forfra (⇧+space)">► FORFRA</div>
            </div>
        </div>
    </div>
    <div id="testLinjescroll-id">
        <div id="waveform"></div>
        <!-- Transcriptions div will be moved here using insertAdjacent -->
        <div id="zoomdiv-id">
            <div class="button-cl resetbutton-cl" id="addleftcontextbutton-id">
                <span class="resetsymbol-cl">⬸</span>
                <span class="resetlabel-cl">Udvid kontekst</span>
            </div>
            <div class="button-cl resetbutton-cl" id="addleftcontextresetbutton-id">
                <span class="resetsymbol-cl">&#8635;</span>
                <span class="resetlabel-cl">Nulstil kontekst</span>
            </div>
            <label id="zoomlabel-id">Zoom:</label>
            <input id="zoomslider-id" data-action="zoom" type="range">
            <div class="button-cl resetbutton-cl" id="zoomresetbutton-id">
                <span class="resetsymbol-cl">&#8635;</span>
                <span class="resetlabel-cl">Nulstil zoom</span>
            </div>
            <div class="button-cl resetbutton-cl" id="selectionresetbutton-id">
                <span class="resetlabel-cl">Fjern markeringer</span>
                <span class="xsymbol-cl">✕</span>
            </div>
        </div>
    </div>

</div>

{{ partitur_line }}

<h2 class="heading Talervariable">Talervariable</h2>
{{ raw_data_speaker }}
<h2 class="heading Samtalevariable">Samtalevariable</h2>
{{ raw_data_file }}
<p style="margin-top: 50px;text-align: center; font-size: .7em; color: lightgrey;">{{ audiourl }}</p>
<script type="text/javascript">
$(document).ready(function() {
    // TODO: Make sure start parameter is less than end parameter ...
    //   (Maybe just flip start and end if end is less than start).
    console.log('Document ready function ...');
    var initial_url = new URL(window.location);
    console.log('Initial URL:');
    console.log(initial_url);
    deactivateContextButtonsIfApplicable()

    // Replace start and end with correctly aligning values.
    let newstart = {{ new_start }};
    let newend = {{ new_end }};
    initial_url.searchParams.set('start', newstart);
    initial_url.searchParams.set('end', newend);

    // Remove any duplicate URL params.
    console.log('Checking for duplicate parameters in URL ...');
    var initparams = [];
    for (const [key, value] of initial_url.searchParams) {
        if (!initparams.includes(key)) {
            initial_url.searchParams.set(key, value);
            }
        initparams.push(key);
        }
    window.history.replaceState({}, '', initial_url);

    // Check for tiers in URL. Display legitimate ones, delete the rest.
    // TODO: Weird behavior on page refresh - tiers from URL appear and disappear alternatingly
    // TODO: searchParams not supported by IE ...?
    var initial_tiers = initial_url.searchParams.get('tiers');
    if (initial_tiers) {
        init_tier_array = initial_tiers.split(' ');
        var illegit_tiers = [];

        init_tier_array.forEach(function (tiercode, index) {
            var tierCheck = document.getElementById(tiercode);

            // tierCheck is not an existing tier. Note it for deletion from the URL.
            if (!tierCheck) {
                illegit_tiers.push(tiercode);
                }
            else {
                var tierChecked = tierCheck.checked;

                if ($(".tier-cl." + tiercode).css('display') == 'none' && !tierChecked){
                    $(".tier-cl." + tiercode).css('display', 'table-row');
                    tierCheck.checked = true;
                    }
                else {
                    $(".tier-cl." + tiercode).css('display', 'none');
                    tierCheck.checked = false;
                    }
                }
            });

        // Remove illegitimate tiers from URL.
        illegit_tiers.forEach(function (ill_tier, index) {
            var current_url = new URL(window.location);
            var current_tiers = current_url.searchParams.get('tiers');
            var cur_tiers_arr = current_tiers.split(' ');

            console.log('Removing illegitimate tier "' + ill_tier + '" from URL ...');
            // If only one tier left: Remove tiers param completely.
            if (cur_tiers_arr.length == 1) {
                console.log('Removing tiers param altogether ...');
                current_url.searchParams.delete('tiers');
                window.history.replaceState({}, '', current_url);
                }
            else {
                var new_curr_tiers_array = cur_tiers_arr.filter(elem => elem !== ill_tier).join(' ');  // NB, spaces in URLs = "+"
                current_url.searchParams.set('tiers', new_curr_tiers_array);
                window.history.replaceState({}, '', current_url);
                }
            });
        }

    // Display tier, and add tier to URL, when box is checked in tier selector.
    // Remove tier (from URL, too) when box is unchecked.
    // TODO: Use URL-safe (= cleaned) tiernames instead of abbreviations.
    $('input[type="checkbox"]').click(function() {
        var targetClass = $(this).attr("value");
        var targetChecked = $(this).prop('checked'); // When unchecked box is clicked, this will be true.

        if ($(".tier-cl." + targetClass).css('display') == 'none' && targetChecked){
            $(".tier-cl." + targetClass).css('display', 'table-row');
            }
        else {
            $(".tier-cl." + targetClass).css('display', 'none');
            }

        var my_url = new URL(window.location);
        var tiers = my_url.searchParams.get('tiers');

        // Is there any "tiers" param?
        if (tiers) {
            var tiers_array = tiers.split(' ');  // NB, spaces in URLs = "+"
            console.log(tiers_array);
            var targetClassInTiers = (tiers_array.indexOf(targetClass) > -1);

            // If the target class is in the tiers list (and the box is unchecked), remove it, else add it.
            if (targetClassInTiers) {
                if (!targetChecked) {
                    console.log('Removing ' + targetClass + ' from tiers param ...');
                    // If only one tier left: Remove tiers param completely.
                    if (tiers_array.length == 1) {
                        console.log('Removing tiers param altogether ...');
                        my_url.searchParams.delete('tiers');
                        window.history.replaceState({}, '', my_url);
                        }
                    else {
                        var new_tiers_array = tiers_array.filter(elem => elem !== targetClass).join(' ');  // NB, spaces in URLs = "+"
                        console.log('New tiers array:');
                        console.log(new_tiers_array);
                        my_url.searchParams.set('tiers', new_tiers_array);
                        window.history.replaceState({}, '', my_url);
                        }
                    }
                }

            // Target class not in tiers list ...
            else {
                if (targetChecked) {
                    console.log('Adding ' + targetClass + ' to tiers param ...');
                    var new_tiers_array = tiers_array;
                    new_tiers_array.push(targetClass);
                    new_tiers_array = new_tiers_array.join(' ');  // NB, spaces in URLs = "+"
                    my_url.searchParams.set('tiers', new_tiers_array);
                    window.history.replaceState({}, '', my_url);
                    }
                }
            }

        // If no tiers param, add it with relevant tier ...
        else {
            if (targetChecked) {
                console.log('Adding tiers param with value ' + targetClass + ' ...');
                my_url.searchParams.set('tiers', targetClass);
                window.history.replaceState({}, '', my_url);
                }
            }
        console.log();
    });

    // Get language specified in URL, and localize if a language is set.
    var current_url = new URL(window.location);
    var urllang = current_url.searchParams.get('lang');
    if (urllang) {
        console.log('urllang: ' + urllang);
        // Localize
        var Partitur = { 'en': 'Score view' };
        var Talervariable = { 'en': 'Speaker data' };
        var Samtalevariable = { 'en': 'Recording data' };
        var Indstillinger = { 'en': 'Settings' };
        var Start = { 'en': 'Start' };
        var Slut = { 'en': 'End' };
        var Bredde = { 'en': 'Width' };
        var Skrift = { 'en': 'Font' };
        $(".heading.Partitur").html(Partitur[urllang]);
        $(".heading.Talervariable").html(Talervariable[urllang]);
        $(".heading.Samtalevariable").html(Samtalevariable[urllang]);
    }

    // If targetstart and targetend parameters are present, create a region accordingly.
    if (initial_url.searchParams.get('targetstart') && initial_url.searchParams.get('targetend')) {
        wavesurfer.addRegion({
            start: initial_url.searchParams.get('targetstart') - newstart, // time in seconds
            end: initial_url.searchParams.get('targetend') - newstart // time in seconds
            });
        }
    console.log('Document ready function done.');
});

// Functions are in partitur.ui.js

// Show and hide tier dropdown
document.getElementById('tier_dropdown').onclick = function(evnt) { toggleVisible('tier_dropdown', evnt); };
document.onclick = function(evnt) { removeVisible('tier_dropdown'); };  // For when a click occurs outside tier dropdown.

// Highlight background and X symbol when a tier label is hovered.
$(".interval-cl.label-cl").hover( function() { highlightX($(this)) }, function() { lowlightX($(this)) });

// Remove tier if tier label clicked. Uncheck box in tier selector. Remove tier from URL.
$(".interval-cl.label-cl").click(function() { removeTier($(this)) });

// Remove all tiers when reset button is clicked.
document.getElementById('tierresetbtn-id').onclick = function(event) { tierResetClick(); }

</script>
<script type="text/javascript">
'use strict';

// Some functions are in partitur.ui.js

function setWidthOnClass(targetclass, widthfactor) {
  // Set width on all elements of class
    let elements = document.querySelectorAll(targetclass);
    elements.forEach((element, key) => {
        let elemWidth = element.getAttribute("data-width");
        if (elemWidth) {

            element.style["width"] = Number(elemWidth) * widthfactor + 'px';
            element.style["max-width"] = Number(elemWidth) * widthfactor + 'px';
        }
    })
  }

  // Set initial interval width
  setWidthOnClass('.inner_intv-cl', 1);

  // See all wavesurfer params here: https://wavesurfer-js.org/api/typedef/index.html (under WavesurferParams)
  var wavesurfer = WaveSurfer.create({
    container: '#waveform',
    waveColor: '#333',
    progressColor: '#333',
    normalize: true,
    scrollParent: true,
    minPxPerSec: 80,
    ignoreSilenceMode: true,
    plugins: [
    WaveSurfer.regions.create({
                regionsMinLength: .01,
                regions: [],
                dragSelection: {
                    slop: 1
                }
            })

    ]
  });

  wavesurfer.on('error', function(e) {
      console.warn(e);
      let errstr = e.toString();
      if (errstr.indexOf("Error decoding audiobuffer") > -1) {
          let window_location = new URL(window.location)
          let noSoundFileMsg = 'FEJL: Kunne ikke hente lyd til ' + window_location.searchParams.get('file') + '.';
          let reloadBtnText = ' Prøv igen';
          // Remove spinner if error message is shown ..
          document.getElementById("loaderDiv-id").style.display = "none";
          document.getElementById('msgdiv-id').innerHTML = '<span style="display:inline-block;">' + noSoundFileMsg + '</span> <a onclick="reloadPage()" style="text-decoration: underline; cursor: pointer;">' + reloadBtnText + '</a>';
          document.getElementById('msgdiv-id').style.backgroundColor = '#fdd';
          document.getElementById('msgdiv-id').style.borderColor = '#fbb';
      }
  });

    // Display spinner until audio is ready - with a little lag.
    wavesurfer.on('ready', function() {
        console.log("Audio ready.");
        function spinnerHideFunction() {
            document.getElementById("loaderDiv-id").style.display = "none";
            }
        setTimeout(spinnerHideFunction, 300)
        });

    // Load audio from URL
    wavesurfer.load('{{ audiourl }}');

    // Insert transcription.
    let transcriptionDiv = '<div id="transcription-id" style="padding-top:70px;"></div>';
    $('#waveform > wave > wave')[0].insertAdjacentHTML("afterend", transcriptionDiv);
    document.getElementById('testLabels-id').appendChild(document.getElementById('labels-id'));
    document.getElementById('transcription-id').appendChild(document.getElementById('linjewrapper-id'));
    // Make wave element autofit height to wave + transcription.
    $('#waveform > wave')[0].style.height = 'auto';

    // Add left context
    document.getElementById('addleftcontextbutton-id').onclick = function() { addLeftContext(); }

    // Reset left context
    document.getElementById('addleftcontextresetbutton-id').onclick = function() { resetLeftContext(); }

    // Zoom slider
    let slider = document.querySelector('[data-action="zoom"]');

    let px_factor = 4;

    slider.value = 100;
    slider.min = wavesurfer.params.minPxPerSec / px_factor;
    // Allow extreme zoom-in, to see individual samples
    slider.max = 500;

    slider.addEventListener('input', function() { zoomToValue(wavesurfer, this.value, px_factor) });

    // set initial zoom to match slider value
    wavesurfer.zoom(slider.value * px_factor);

    // Reset zoom
    document.getElementById('zoomresetbutton-id').onclick = function() { zoomToValue(wavesurfer, 100, px_factor); }

    // Remove wavesurfer regions
    document.getElementById('selectionresetbutton-id').onclick = function() { removeRegions(); }


  // Playback using play/pause button
  let playPauseButton = document.querySelector('[data-action="play"]');
  playPauseButton.addEventListener('click', wavesurfer.playPause.bind(wavesurfer));

  // Replay from beginning using subsidiary play button
  let replayButton = document.querySelector('[data-action="replay"]');
  replayButton.addEventListener('click', wavesurfer.play.bind(wavesurfer, 0));

  // Simulated mouse click
  var clickEvent = new MouseEvent("click", {
      "view": window,
      "bubbles": true,
      "cancelable": false
  });

  // Use spacebar to toggle playback; use shift+spacebar to replay
  document.addEventListener('keydown', function(event) {
    if (event.shiftKey && event.which == 32) {
      event.preventDefault();
      replayButton.dispatchEvent(clickEvent);
      }
    else if (event.which == 32) {
      event.preventDefault();
      playPauseButton.dispatchEvent(clickEvent);
      }
  });

  // Create a region for a word when the word is clicked
  function createWordRegion(elem) {

  // console.log(elem.dataset.wordXmin);
  // console.log(elem.dataset.wordXmax);
  let reg = wavesurfer.addRegion({
    start: elem.dataset.wordXmin, // time in seconds
    end: elem.dataset.wordXmax // time in seconds
    });
  }

  // Play any region when clicked
  wavesurfer.on('region-click', function(region, e) {
    e.stopPropagation();
    region.wavesurfer.play(region.start, region.end);
    });

  // Remove region when minimized
  wavesurfer.on('region-update-end', function(region, e) {
    var regwidth = region.end - region.start;
    if (regwidth < 0.02) {
      region.remove();
      }
    });


</script>
</body>
</html>
